<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.mapper.ParkingPointMapper">

    <select id="listEnabled" resultType="com.panda.entity.ParkingPoint">
        select id, name, latitude, longitude, status, create_time
        from parking_point
        where status = 1
        order by id desc
    </select>

</mapper>
